/** {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
@font-face{
    font-family: Montserrat;
    src: url('Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}

@font-face{
    font-family: Oswald;
    src: url('Oswald-VariableFont_wght.ttf') format('truetype');
    font-weight: 500;
}

html,body{
    margin: 0;
    padding: 0;
}

.montserrat-500{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

.oswald-500{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
}

.circle{
    border-radius: 50%;
    background: #FFA800;
}

a{
    text-decoration: none;
    color: #060606;
}

.container{
    position: relative;
    width: 1366px;
    height: 3651px;
    background: #FFFFFF;

    overflow-x: hidden;
}

footer{
    position: absolute;
    width: 1366px;
    height: 376px;
    left: 0px;
    top: 3275px;
}

#black-logo{
    position: absolute;
    width: 159px;
    height: 96px;
    left: 62px;
}

#menu{
    display: none;
}

#cross{
    display: none;
}

.top-links{
    position: absolute;
    top: 51px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    color: #060606;
}

#ideja{
    width: 46px;
    height: 24px;
    left: 305px;
}

#piesaki-sapni{
    width: 130px;
    height: 24px;
    left: 381px;
}

#uznemejiem{
    width: 120px;
    height: 24px;
    left: 542px;
}

#sapnu-banka{
    width: 123px;
    height: 45px;
    left: 697px;
}

#sapnus-atbalsta{
    width: 153px;
    height: 45px;
    left: 851px;
}

#iedvesmas-stasti{
    width: 188px;
    height: 29px;
    left: 1031px;
}

#lv{
    width: 29px;
    height: 29px;
    left: 1275px;
}

#video_img{
    position: absolute;
    width: 1366px;
    height: 722px;
    left: 0px;
    top: 47px;
}

#top-ripped-rectangle{
    position: absolute;
    width: 1367px;
    height: 120px;
    left: -1px;
    top: 5.8px;
}

#circle_on_video{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 643px;
    top: 368px;

    background: #FFFFFF;
}

#vector-on-video{
    position: absolute;
    width: 86px;
    height: 83px;
    left: 640px;
    top: 366px;
}

#long-text{


    position: absolute;
    width: 654px;
    height: 114px;
    left: 359px;
    top: 919px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #2F4858;
}

#zanda-1{
    position: absolute;
    width: 328px;
    height: 355px;
    left: 0px;
    top: 1197px;
}

#sibilla-4{
    position: absolute;
    width: 334px;
    height: 364px;
    left: 328px;
    top: 1202px;
}

#brinuma-meita-15{
    position: absolute;
    width: 298px;
    height: 180px;
    left: 662px;
    top: 1202px;
}

#alina-1-1{
    position: absolute;
    width: 298px;
    height: 184px;
    left: 662px;
    top: 1382px;
}

#anda-2-1{
    position: absolute;
    width: 406px;
    height: 383px;
    left: 960px;
    top: 1183px;
}

#mobile-ripped-6-7{
    display: none;
}

#mobile-ripped-6-8{
    display: none;
}

#ripped-6-7{
    position: absolute;
    width: 1366px;;
    height: 55px;
    left: 0px;
    top: 1182.2px;
}

#ripped-6-8{
    position: absolute;
    width: 1366px;
    height: 55px;
    left: 0px;
    top: 1526px;
}

/*VĒLIES PIEPILDĪT SAVU SAPNI?*/
#top-button-text-1{
    position: absolute;
    width: 394px;
    height: 29px;
    left: 220px;
    top: 1731px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

/*VĒLIES PALĪDZĒT KĀDĀM PIEPILDĪT SAPNI?*/
#top-button-text-2{
    white-space: nowrap;

    position: absolute;
    width: 500px;
    height: 29px;
    left: 698px;
    top: 1731px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#left-circle-1{
    position: absolute;
    width: 50.33px;
    height: 50px;
    left: 300px;
    top: 1810px;
}

#left-circle-2{
    position: absolute;
    width: 50.33px;
    height: 50px;
    left: 482.67px;
    top: 1810px;
}

#left-rectangle{
    position: absolute;
    width: 182.67px;
    height: 50px;
    left: 325.17px;
    top: 1810px;

    background: #FFA800;
}

#right-circle-1{
    position: absolute;
    width: 49.99px;
    height: 50px;
    left: 832px;
    top: 1810px;
}

#right-circle-2{
    position: absolute;
    width: 49.99px;
    height: 50px;
    left: 1015.01px;
    top: 1810px;
}

#right-rectangle{
    position: absolute;
    width: 184.63px;
    height: 50px;
    left: 856.19px;
    top: 1810px;

    background: #FFA800;
}

#down-circle-1{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 592px;
    top: 2615px;
}

#down-circle-2{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 712px;
    top: 2615px;
}

#down-rectangle{
    position: absolute;
    width: 121px;
    height: 62px;
    left: 623px;
    top: 2615px;

    background: #FFA800;
}

/*Sapņotājiem*/
#text-left-button{
    position: absolute;
    width: 233px;
    height: 50px;
    left: 360px;
    top: 1810px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*Uzņēmējiem*/
#text-right-button{
    position: absolute;
    width: 233px;
    height: 50px;
    left: 890px;
    top: 1810px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*Sūtīt*/
#text-small-button{
    position: absolute;
    width: 182px;
    height: 62px;
    left: 655px;
    top: 2615px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*SAZINĀTIES AR MUMS*/
#contact{
    position: absolute;
    width: 819px;
    height: 48px;
    left: 274px;
    top: 2010px;

    font-size: 30px;
    line-height: 44px;
    text-align: center;

    color: #2F4858;
}

#rectangle-33{
    position: absolute;
    width: 296px;
    height: 43px;
    left: 377px;
    top: 2113px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-34{
    position: absolute;
    width: 296px;
    height: 43px;
    left: 693px;
    top: 2113px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-34-long{
    position: absolute;
    width: 612px;
    height: 43px;
    left: 377px;
    top: 2171px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-35{
    position: absolute;
    width: 612px;
    height: 232px;
    left: 377px;
    top: 2229px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

/*Vārds, Uzvārds*/
#name{
    position: absolute;
    width: 270px;
    height: 20px;
    left: 389px;
    top: 2126px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*E-pasts*/
#e-mail{
    position: absolute;
    width: 270px;
    height: 20px;
    left: 706px;
    top: 2126px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*Telefons*/
#phone{
    position: absolute;
    width: 573px;
    height: 20px;
    left: 389px;
    top: 2184px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*Jautājums, vai komentārs*/
#comment{
    position: absolute;
    width: 587px;
    height: 20px;
    left: 389px;
    top: 2241px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*obligāti aizpildāmie lauki*/
#mandatory-fields{
    position: absolute;
    width: 612px;
    height: 25px;
    left: 377px;
    top: 2476px;
    text-align: left;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

/*Piekrītu, ka mani dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs nepieciešams.*/
#data{
    position: absolute;
    width: 572px;
    height: 39px;
    left: 417px;
    top: 2526px;
    text-align: left;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

#rectangle-44{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 380px;
    top: 2529px;

    background: #E7E7E7;
    border-radius: 3px;
}

#mobile-subtract{
    display: none;
}

#subtract{
    position: absolute;
    width: 1366px;
    height: 533.32px;
    left: 0px;
    top: 2827px;
}

/*ATBALSTĪTĀJI*/
#down-text{
    position: absolute;
    width: 394px;
    height: 29px;
    left: 486px;
    top: 2927px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#down-logo-1{
    position: absolute;
    width: 241.95px;
    height: 80px;
    left: 168px;
    top: 3045px;
}

#down-logo-2{
    position: absolute;
    left: 495px;
    top: 3045px;
}

#down-logo-3{
    position: absolute;
    width: 84.77px;
    height: 120px;
    left: 1113px;
    top: 3026px;
}

#down-logo-4{
    position: absolute;
    width: 238.96px;
    height: 80px;
    left: 789px;
    top: 3045px;
}

#footer-union{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

#tablet-footer-union{
    display: none;
}

#tablet-footer-logo{
    display: none;
}

#mobile-footer-union{
    display: none;
}

#mobile-footer-logo{
    display: none;
}

#footer-logo{
    position: absolute;
    left: 4.54%;
    right: 82.14%;
    top: 19.41%;
    bottom: 32.18%;
}

#props{
    display: none;
}

/*© SparkleHeart 2020. Visas tiesības aizsargātas*/
#footer-rights{
    position: absolute;
    left: 4.54%;
    right: 82.14%;
    top: 86.44%;
    bottom: 3.46%;
    text-align: left;

    font-size: 14px;
    line-height: 17px;

    color: #FFFFFF;
}

.footer-links{
    position: absolute;
    left: 28%;
    right: 70%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

#footer-ideja{
    left: 28.11%;
    top: 18.88%;
    bottom: 74.73%;
}

#footer-piesaki-sapni{
    top: 30.85%;
    bottom: 62.77%;
}

#footer-uznemejiem{
    top: 42.82%;
    bottom: 50.8%;
}

#footer-sapnu-banka{
    top: 53.72%;
    bottom: 34.31%;
}

#footer-sapnus-atbalsta{
    top: 65.43%;
    bottom: 22.61%;
}

#footer-iedvesmas-stasti{
    top: 77.39%;
    bottom: 14.89%;
}

.mid-footer{
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #FFFFFF;
}

/*Biedrība SparkleHeart*/
#sparkleheart{
    left: 47%;
    right: 37.1%;
    top: 18.62%;
    bottom: 75%;

    font-size: 24px;
    line-height: 29px;
}

/*Reģistrācijas nr. 40008293119*/
#registration{
    left: 47.1%;
    right: 37.1%;
    top: 30.85%;
    bottom: 62.77%;
}

/*Banka: SWEDBANK A/S*/
#bank{
    left: 46.8%;
    right: 37.1%;
    top: 39.89%;
    bottom: 53.99%;
}

/*LV52HABA0551047652465*/
#bank-account{
    left: 47.1%;
    right: 36%;
    top: 48.4%;
    bottom: 46.54%;
}

.right-footer{
    position: absolute;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;
}

#juris{
    left: 81.99%;
    right: 4.69%;
    top: 18.88%;
    bottom: 69.15%;

    font-size: 24px;
    line-height: 29px;
}

#footer-e-mail{
    left: 66.47%;
    right: 4.75%;
    top: 30.8%;
    bottom: 63.3%;

    font-size: 18.3px;
}

#footer-phone{
    left: 86%;
    right: 4.69%;
    top: 39.89%;
    bottom: 54.52%;

    display: flex;
    align-items: flex-end;
}

#adress{
    left: 74.9%;
    right: 4.69%;
    top: 48.14%;
    bottom: 46.01%;

    font-size: 18.3px;

    display: flex;
    align-items: center;
    text-align: right;
}

/*Privātuma politika*/
#politics{
    left: 81.55%;
    right: 4.54%;
    top: 90.96%;
    bottom: 5.32%;

    font-size: 14px;
    line-height: 17px;
}

#facebook{
    position: absolute;
    left: 89.39%;
    right: 9.3%;
    top: 67.82%;
    bottom: 22.61%;
}

#instagram{
    position: absolute;
    left: 92.83%;
    right: 4.54%;
    top: 67.82%;
    bottom: 22.61%;
}

#tablet-facebook{
    display: none;
}

#tablet-instagram{
    display: none;
}

@media only screen and (max-width: 768px) {

.container{
    position: relative;
    width: 768px;
    height: 3021px;
    background: #FFFFFF;

    overflow-x: hidden;
}

footer{
    position: absolute;
    width: 768px;
    height: 3021px;
    left: 0px;
    top: 0%;
}

#black-logo{
    position: absolute;
    width: 128px;
    height: 82px;
    left: 80px;
    top: 0px;
}

.top-links{
    display: none;
}

#cross{
    display: none;
}

#menu{
    position: absolute;
    left: 86.33%;
    right: 10.44%;
    top: 1.16%;
    bottom: 98.18%;

    display: block;
}

#video_img{
    position: absolute;
    width: 768px;
    height: 406px;
    left: 0px;
    top: 71px;
}

#top-ripped-rectangle{
    position: absolute;
    width: 1092.8px;
    height: 74.01px;
    left: -281.2px;
    top: 25px;
}

#circle_on_video{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 344px;
    top: 235px;

    background: #FFFFFF;
}

#vector-on-video{
    position: absolute;
    width: 86px;
    height: 83px;
    left: 341px;
    top: 233px;
}

#long-text{
    position: absolute;
    width: 608px;
    height: 140px;
    left: 80px;
    top: 627px;


    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #2F4858;
}

#zanda-1{
    position: absolute;
    width: 184px;
    height: 200px;
    left: 0px;
    top: 925px;
}

#sibilla-4{
    position: absolute;
    width: 188px;
    height: 206px;
    left: 184px;
    top: 927px;
}

#brinuma-meita-15{
    position: absolute;
    width: 167px;
    height: 102px;
    left: 372px;
    top: 927px;
}

#alina-1-1{
    position: absolute;
    width: 167px;
    height: 104px;
    left: 372px;
    top: 1029px;
}

#anda-2-1{
    position: absolute;
    width: 229px;
    height: 216px;
    left: 539px;
    top: 917px;
}

#ripped-6-7{
    position: absolute;
    width: 768px;
    height: 31px;
    left: 0px;
    top: 917px;
}

#ripped-6-8{
    position: absolute;
    width: 768px;
    height: 31px;
    left: 0px;
    top: 1110px;
}

/*VĒLIES PIEPILDĪT SAVU SAPNI?*/
#top-button-text-1{
    position: absolute;
    width: 233px;
    height: 29px;
    left: 455px;
    top: 1291px;

    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #2F4858;
}

/*VĒLIES PALĪDZĒT KĀDĀM PIEPILDĪT SAPNI?*/
#top-button-text-2{
    position: absolute;
    width: 233px;
    height: 54px;
    left: 80px;
    top: 1291px;

    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #2F4858;
}

#left-circle-1{
    position: absolute;
    width: 50.33px;
    height: 50px;
    left: 80px;
    top: 1395px;
}

#left-circle-2{
    position: absolute;
    width: 50.33px;
    height: 50px;
    left: 262.67px;
    top: 1395px;
}

#left-rectangle{
    position: absolute;
    width: 182.67px;
    height: 50px;
    left: 105.17px;
    top: 1395px;

    background: #FFA800;
}

#right-circle-1{
    position: absolute;
    width: 49.99px;
    height: 50px;
    left: 455px;
    top: 1395px;
}

#right-circle-2{
    position: absolute;
    width: 49.99px;
    height: 50px;
    left: 638.01px;
    top: 1395px;
}

#right-rectangle{
    position: absolute;
    width: 184.63px;
    height: 50px;
    left: 479.19px;
    top: 1395px;

    background: #FFA800;
}

#down-circle-1{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 292px;
    top: 2163px;
}

#down-circle-2{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 412px;
    top: 2163px;
}

#down-rectangle{
    position: absolute;
    width: 121px;
    height: 62px;
    left: 323px;
    top: 2163px;

    background: #FFA800;
}

/*Sapņotājiem*/
#text-left-button{
    position: absolute;
    width: 233px;
    height: 50px;
    left: 140px;
    top: 1395px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*Uzņēmējiem*/
#text-right-button{
    position: absolute;
    width: 233px;
    height: 50px;
    left: 515px;
    top: 1395px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*Sūtīt*/
#text-small-button{
    position: absolute;
    width: 182px;
    height: 62px;
    left: 355px;
    top: 2163px;

    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*SAZINĀTIES AR MUMS*/
#contact{
    position: absolute;
    width: 268px;
    height: 35px;
    left: 250px;
    top: 1590px;

    font-size: 30px;
    line-height: 44px;
    align-items: center;
    text-align: center;

    color: #2F4858;
}

#rectangle-33{
    position: absolute;
    width: 294.07px;
    height: 40px;
    left: 80px;
    top: 1690px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-34{
    position: absolute;
    width: 294.07px;
    height: 40px;
    left: 393.93px;
    top: 1690px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-34-long{
    position: absolute;
    width: 608px;
    height: 40px;
    left: 80px;
    top: 1745px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-35{
    position: absolute;
    width: 608px;
    height: 230px;
    left: 80px;
    top: 1800px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

/*Vārds, Uzvārds*/
#name{
    position: absolute;
    width: 268.24px;
    height: 18.6px;
    left: 91.92px;
    top: 1702.09px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*E-pasts*/
#e-mail{
    position: absolute;
    width: 268.24px;
    height: 18.6px;
    left: 406.85px;
    top: 1702.09px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*Telefons*/
#phone{
    position: absolute;
    width: 569px;
    height: 20px;
    left: 92px;
    top: 1757px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*Jautājums, vai komentārs*/
#comment{
    position: absolute;
    width: 583px;
    height: 18px;
    left: 92px;
    top: 1812px;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*obligāti aizpildāmie lauki*/
#mandatory-fields{
    position: absolute;
    width: 608px;
    height: 19px;
    left: 80px;
    top: 2045px;

    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

/*Piekrītu, ka mani dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs nepieciešams.*/
#data{
    position: absolute;
    width: 568px;
    height: 39px;
    left: 121px;
    top: 2074px;

    text-align: left;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: #2F4858;
}

#rectangle-44{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 80px;
    top: 2074px;

    background: #E7E7E7;
    border-radius: 3px;
}

#subtract{
    position: absolute;
    width: 768px;
    height: 299.85px;
    left: 0px;
    top: 2375px;
}

/*ATBALSTĪTĀJI*/
#down-text{
    position: absolute;
    width: 222px;
    height: 34px;
    left: 273px;
    top: 2431px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#down-logo-1{
    position: absolute;
    width: 144px;
    height: 47px;
    left: 80px;
    top: 2501px;
}

#down-logo-2{
    position: absolute;
    width: 122px;
    height: 47px;
    left: 275px;
    top: 2501px;
}

#down-logo-3{
    position: absolute;
    width: 49px;
    height: 71px;
    left: 639px;
    top: 2490px;
}

#down-logo-4{
    position: absolute;
    width: 142px;
    height: 47px;
    left: 447px;
    top: 2501px;
}

#footer-logo{
    display: none;
}

.footer-links{
    display: none;
}

#footer-union{
    display: none;
}

#tablet-footer-union{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 86.99%;
    bottom: 0%;

    display: block;
}

#tablet-footer-logo{
    position: absolute;
    left: 10.42%;
    right: 68.49%;
    top: 89.31%;
    bottom: 5.33%;

    display: block;
}

.mid-footer{
    display: none;
}

/*© SparkleHeart 2020. Visas tiesības aizsargātas*/
#footer-rights{
    white-space: nowrap;

    position: absolute;
    left: 10.42%;
    right: 340%;
    top: 97.88%;
    bottom: 1.66%;

    font-size: 16px;
    line-height: 20px;
    word-spacing: 1px;

    color: #FFFFFF;
}

#juris{
    position: absolute;
    left: 10.42%;
    right: 69.4%;
    top: 95.66%;
    bottom: 3.34%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;

    color: #FFFFFF;
}

.right-footer{
    position: absolute;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;

    color: #FFFFFF;
}

#footer-e-mail{
    left: 46.61%;
    right: 10.55%;
    top: 90.76%;
    bottom: 8.44%;

    font-size: 18.3px;
}

#footer-phone{
    left: 73%;
    right: 10.55%;
    top: 91.89%;
    bottom: 7.41%;

    display: flex;
    align-items: flex-end;
}

#adress{
    left: 53.1%;
    right: 10.42%;
    top: 92.92%;
    bottom: 6.42%;

    font-size: 18.3px;

    display: flex;
    align-items: center;
    text-align: right;
}

#props{
    left: 50%;
    right: 10.42%;
    top: 93.91%;
    bottom: 5.33%;

    letter-spacing: 0.5px;
    font-weight: bold;
    text-align: right;
}

/*Privātuma politika*/
#politics{
    left: 66.54%;
    right: 10.55%;
    top: 97.82%;
    bottom: 1.66%;

    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}

#facebook{
    display: none;
}

#instagram{
    display: none;
}

#tablet-facebook{
    position: absolute;
    left: 80.21%;
    right: 18.16%;
    top: 95.83%;
    bottom: 3.34%;

    display: block;
}

#tablet-instagram{
    position: absolute;
    left: 86.33%;
    right: 10.42%;
    top: 95.83%;
    bottom: 3.34%;

    display: block;
}
}

@media only screen and (max-width: 320px) {

.container{
    position: relative;
    width: 320px;
    height: 2971px;
    background: #FFFFFF;

    overflow-x: hidden;
}

.mobile-footer{
    position: absolute;
    width: 320px;
    height: 483px;
    left: 0px;
    top: 2488px;
}

.top-links{
    display: none;
}

#black-logo{
    position: absolute;
    width: 78px;
    height: auto;
    left: 20px;
    top: 0px;
}

#menu{
    display: none;
}

#cross{
    position: absolute;
    width: 15px;
    height: 15px;
    left: 285px;
    top: 18px;

    display: block;
}

#video_img{
    position: absolute;
    width: 320px;
    height: 169px;
    left: 0px;
    top: 49px;
}

#top-ripped-rectangle{
    position: absolute;
    width: 764.28px;
    height: 67.09px;
    left: -211px;
    top: -4px;
}

#circle_on_video{
    position: absolute;
    width: 46.51px;
    height: 46.51px;
    left: 136.74px;
    top: 111.53px;

    background: #FFFFFF;
}

#vector-on-video{
    position: absolute;
    width: 50px;
    height: 48.26px;
    left: 135px;
    top: 110.37px;
}

#long-text{
    position: absolute;
    width: 280px;
    height: 124px;
    left: 20px;
    top: 298px;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #2F4858;
}

#zanda-1{
    position: absolute;
    width: 168px;
    height: 183px;
    left: 0px;
    top: 676px;
}

#sibilla-4{
    position: absolute;
    width: 167px;
    height: 183px;
    left: 168px;
    top: 676px;
}

#brinuma-meita-15{
    position: absolute;
    width: 136px;
    height: 82px;
    left: 0px;
    top: 509px;
}

#alina-1-1{
    position: absolute;
    width: 136px;
    height: 85px;
    left: 0px;
    top: 591px;
}

#anda-2-1{
    position: absolute;
    width: 184px;
    height: 174px;
    left: 136px;
    top: 502px;
}

#ripped-6-7{
    display: none;
}

#ripped-6-8{
    display: none;
}

#mobile-ripped-6-7{
    position: absolute;
    width: 320px;
    height: 24px;
    left: 0px;
    top: 500px;

    display: block;
}

#mobile-ripped-6-8{
    position: absolute;
    width: 320px;
    height: 25px;
    left: 0px;
    top: 834px;

    display: block;
}

/*VĒLIES PIEPILDĪT SAVU SAPNI?*/
#top-button-text-1{
    position: absolute;
    width: 320px;
    height: 29px;
    left: 0px;
    top: 979px;


    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #2F4858;
}

/*VĒLIES PALĪDZĒT KĀDĀM PIEPILDĪT SAPNI?*/
#top-button-text-2{
    position: absolute;
    width: 280px;
    height: 55px;
    left: 20px;
    top: 1168px;

    font-size: 18px;
    line-height: 27px;
    text-align: center;

    color: #2F4858;
}

#left-circle-1{
    position: absolute;
    width: 50.33px;
    height: 50px;
    left: 47px;
    top: 1038px;
}

#left-circle-2{
    position: absolute;
    width: 50.33px;
    height: 50px;
    left: 229.67px;
    top: 1038px;
}

#left-rectangle{
   position: absolute;
    width: 182.67px;
    height: 50px;
    left: 72.17px;
    top: 1038px;

    background: #FFA800;
}

#right-circle-1{
    position: absolute;
    width: 49.99px;
    height: 50px;
    left: 47px;
    top: 1253px;
}

#right-circle-2{
    position: absolute;
    width: 49.99px;
    height: 50px;
    left: 230.01px;
    top: 1253px;
}

#right-rectangle{
    position: absolute;
    width: 184.63px;
    height: 50px;
    left: 71.19px;
    top: 1253px;

    background: #FFA800;
}

#down-circle-1{
    position: absolute;
    width: 47.69px;
    height: 47.69px;
    left: 90px;
    top: 1924.15px;

}

#down-circle-2{
    position: absolute;
    width: 47.69px;
    height: 47.69px;
    left: 182.31px;
    top: 1924.15px;
}

#down-rectangle{
    position: absolute;
    width: 93.08px;
    height: 47.69px;
    left: 113.85px;
    top: 1924.15px;


    background: #FFA800;
}

/*Sapņotājiem*/
#text-left-button{
    position: absolute;
    width: 233px;
    height: 50px;
    left: 105px;
    top: 1038px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*Uzņēmējiem*/
#text-right-button{
    position: absolute;
    width: 233px;
    height: 50px;
    left: 105px;
    top: 1253px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*Sūtīt*/
#text-small-button{
    position: absolute;
    width: 140px;
    height: 48px;
    left: 140px;
    top: 1924px;

    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

/*SAZINĀTIES AR MUMS*/
#contact{
    position: absolute;
    width: 280px;
    height: 35px;
    left: 20px;
    top: 1423px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#rectangle-33{
    position: absolute;
    width: 280px;
    height: 35px;
    left: 20px;
    top: 1488px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-34{
    position: absolute;
    width: 280px;
    height: 35px;
    left: 20px;
    top: 1533px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-34-long{
    position: absolute;
    width: 280px;
    height: 35px;
    left: 20px;
    top: 1578px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

#rectangle-35{
    position: absolute;
    width: 280px;
    height: 150px;
    left: 20px;
    top: 1623px;

    background: rgba(196, 196, 196, 0.4);
    border-radius: 6px;
}

/*Vārds, Uzvārds*/
#name{
    position: absolute;
    width: 255.41px;
    height: 16.28px;
    left: 31.35px;
    top: 1498.58px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*E-pasts*/
#e-mail{
    position: absolute;
    width: 255.41px;
    height: 16.28px;
    left: 32.3px;
    top: 1543.58px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

}

/*Telefons*/
#phone{
    position: absolute;
    width: 208px;
    height: 20px;
    left: 32px;
    top: 1586px;


    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
}

/*Jautājums, vai komentārs*/
#comment{
    position: absolute;
    width: 268px;
    height: 20px;
    left: 32px;
    top: 1631px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;

    color: #2F4858;
}

/*obligāti aizpildāmie lauki*/
#mandatory-fields{
    position: absolute;
    width: 280px;
    height: 18px;
    left: 20px;
    top: 1783px;

    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #2F4858;
}

/*Piekrītu, ka mani dati tiks izmantoti likumdošanā noteiktā kārtībā un tiks saglabāti līdz brīdim, kamēr tas būs nepieciešams.*/
#data{
    position: absolute;
    width: 243px;
    height: 63px;
    left: 57px;
    top: 1811px;

    text-align: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    color: #2F4858;
}

#rectangle-44{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 20px;
    top: 1811px;

    background: #E7E7E7;
    border-radius: 3px;
}

#subtract{
    display: none;
}

#mobile-subtract{
    position: absolute;
    width: 322px;
    height: 732.05px;
    left: -1px;
    top: 2093px;

    display: block;
}

/*ATBALSTĪTĀJI*/
#down-text{
    position: absolute;
    width: 160px;
    height: 33px;
    left: 80px;
    top: 2176px;

    font-size: 24px;
    line-height: 36px;
    text-align: center;

    color: #2F4858;
}

#down-logo-1{
    position: absolute;
    width: 130px;
    height: 44px;
    left: 21px;
    top: 2273px;
}

#down-logo-2{
    position: absolute;
    width: 130px;
    height: 50px;
    left: 168px;
    top: 2269px;
}

#down-logo-3{
    position: absolute;
    width: 48px;
    height: 67px;
    left: 210px;
    top: 2351px;
}

#down-logo-4{
    position: absolute;
    width: 131px;
    height: 44px;
    left: 20px;
    top: 2357px;
}

#footer-union{
    display: none;
}

#tablet-footer-union{
    display: none;
}

#footer-logo{
    display: none;
}

.footer-links{
    display: none;
}

#tablet-footer-logo{
    display: none;
}

.mid-footer{
    display: none;
}

#mobile-footer-union{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    display: block;
}

#mobile-footer-logo{
    position: absolute;
    left: 6.25%;
    right: 62.5%;
    top: 8.9%;
    bottom: 70.39%;

    display: block;
}

/*© SparkleHeart 2020. Visas tiesības aizsargātas*/
#footer-rights{
    white-space: nowrap;

    position: absolute;
    left: 6.25%;
    right: 6.25%;
    top: 86.13%;
    bottom: 10.56%;
    text-align: left;

    font-size: 11px;
    line-height: 13px;

    color: #FFFFFF;
}

#juris{
    position: absolute;
    left: 6.25%;
    right: 36.88%;
    top: 34.78%;
    bottom: 60.25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: left;

    color: #FFFFFF;
}

.right-footer{
    position: absolute;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

#footer-e-mail{
    position: absolute;
    left: 6.25%;
    right: 6.56%;
    top: 45.96%;
    bottom: 50.52%;

    font-size: 12px;
    line-height: 15px;

    text-align: left;
}

#footer-phone{
    left: 6.25%;
    right: 6.56%;
    top: 51.55%;
    bottom: 45.34%;

    display: flex;
    align-items: flex-end;
}

#adress{
    position: absolute;
    left: 6.25%;
    right: 6.25%;
    top: 56.73%;
    bottom: 39.96%;

    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

#props{
    left: 6.25%;
    right: 25%;
    top: 62.11%;
    bottom: 33.54%;

    letter-spacing: 1.5px;
    font-weight: bold;
    text-align: left;

    display: block;
}

/*Privātuma politika*/
#politics{
    left: 6.25%;
    right: 6.25%;
    top: 90.48%;
    bottom: 6.21%;

    letter-spacing: 0.1px;
    text-align: left;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
}

#facebook{
    display: none;
}

#instagram{
    display: none;
}

#tablet-facebook{
    position: absolute;
    left: 6.25%;
    right: 89.84%;
    top: 73.71%;
    bottom: 21.12%;

    display: block;
}

#tablet-instagram{
    position: absolute;
    left: 20.94%;
    right: 71.25%;
    top: 73.71%;
    bottom: 21.12%;

    display: block;
  }
}